.navbar {
  width: 100%;
  background-color: #fff;
  padding: 1rem 3rem;
  border-bottom: $border1;
}
.person {
  position: absolute;
  right: 20px;
  width: fit-content;
  /* border: 1px solid black; */
  border-radius: 20px;
}
